CLIENT_WEB_BIND=127.0.0.1:18443
CLIENT_TLS_CERT_PATH=./dev/tls/tls.crt
CLIENT_TLS_KEY_PATH=./dev/tls/tls.key
SECURITY_UPSTREAM_HOST=security
SECURITY_UPSTREAM_PORT=8400
QUERY_ENGINE_UPSTREAM_HOST=query-engine
QUERY_ENGINE_UPSTREAM_PORT=8300
